[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=spritesheetgenerator
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Spritesheet Generator
Comment=Export frames in the animation timeline as a spritesheet.
